//compileExpanded: custom.css

// COLORS //

$dark: #34374c
$dark-alt: #456
$light: #717381
$red: #ff0039
$cyan: #00c8d7

////////////

.col-2,.col-3,.col-4,.col-7,.col-8
  padding: 0 25px

.row
  margin-bottom: 50px
  &:last-of-type
    margin-bottom: 0

body
  background: $dark-alt

.container
  border-radius: 2px
  background: #fafafa
  margin: 100px auto
  padding: 100px
  box-shadow: 0 20px 50px rgba(#000, .2)

ul
  list-style: none
  display: inline-block
  padding: 0
  li
    text-align: right
    svg
      width: 25px !important

body
  color: $dark
  font-family: 'Roboto', "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  a
    color: $dark-alt
    &:hover
      color: $dark-alt
  h1
    font-weight: bold
    font-family: 'Montserrat', "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  h2
    font-family: 'Montserrat', "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    font-weight: normal
    margin-bottom: 25px
  p
    color: $light
    margin-bottom: 0

section
  margin-top: 70px
  &:first-of-type
    margin-top: 0

.experience
  margin-bottom: 1.5rem
  small:first-of-type
    display: inline-block
    text-align: left
    width: 50%
    font-size: 14px
  small:last-of-type
    display: inline-block
    text-align: right
    width: 50%
    font-size: 14px
  h3
    font-weight: bold
    position: relative
    &::before
      content: ''
      position: absolute
      width: 15px
      height: 25px
      left: -25px
      top: 5px
  h4
    font-size: 18px
    >a
      color: $dark
  &.red
    small
      color: $red
    h3::before
      background-color: $red
  &.cyan
    small
      color: $cyan
    h3::before
      background-color: $cyan
